.body-factura {
  position: relative;
  width: 23cm;
  height: 32cm;
  margin: 0 auto;
  color: #001028;
  background: #ffffff;
  font-size: 12px;
  font-family: Arial;
  border: 2px solid #5d6975;
  padding: 3rem;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  text-align: center;
  margin-bottom: 10px;
}

.logo img {
  width: 90px;
}

.header-factura {
  border-top: 1px solid #5d6975;
  border-bottom: 1px solid #5d6975;
  color: #5d6975;
  font-size: 2.4em;
  line-height: 1.4em;
  font-weight: normal;
  text-align: center;
  margin: 0 0 20px 0;
  background: url(../../../assets/dimension.png);
}

.company {
  float: right;
  text-align: right;
}

.project div,
.company div,
.cliente div {
  white-space: nowrap;
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
  text-align: left;
}

.title-factura {
  font-size: 2.4rem;
  font-weight: 600;
  text-decoration: underline;
}

.subtitle-factura {
  font-size: 1.6rem;
  font-weight: 600;
  margin-right: 0.4rem;
}

.factura-container,
.cliente-container {
  border: 2px #5d6975 solid;
  border-radius: 3px;
  padding: 3rem;
  margin-bottom: 2.4rem;
}

.link:link,
.link:hover {
  text-decoration: none;
  color: #000000;
}

.table-factura {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 2.4rem;
}

.table-factura thead {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  border: 2px solid #000;
  background-color: #f5f5f5;
}
.table-factura tbody {
  border: 2px solid #000;
}

// .table-factura tr:nth-child((2n-1)) td {
//   background: #f5f5f5;
// }

.table-factura th,
.table-factura td {
  text-align: center;
}

.table-factura th {
  padding: 5px 20px;
  color: #5d6975;
  border-bottom: 2px solid #5d6975;
  white-space: nowrap;
  font-weight: normal;
}

.table-factura .service,
.table-factura .desc {
  text-align: left;
  color: #000;
}

.table-factura thead th {
  color: #000;
}

.table-factura td {
  padding: 1rem;
  text-align: right;
  border-left: 1.5px solid #000;
}

.table-factura td.unit,
.table-factura td.qty,
.table-factura td.total {
  font-size: 1.2em;
}

.border-detail {
  border-bottom: 1px solid #5d6975;
}

.table-factura td.grand {
  border-top: 1px solid #5d6975;
}

.margin-right {
  margin-right: 1rem;
}

.separator {
  border-left: 1.5px solid #000;
}

.footer-container {
  border: 2px #5d6975 solid;
  border-radius: 3px;
  padding: 3rem;
  margin-bottom: 2.4rem;
  display: flex;
}

.container-qr {
  margin-right: 4rem;
}

.qr {
  height: auto;
  max-width: 100%;
  width: 100%;
}

.leyenda-qr {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 1.6rem;
}

.sub-leyenda-qr {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 1rem;
}

.right {
  text-align: right;
}

.margin-left {
  margin-left: 1rem;
}
