.landingPage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.6rem;
  margin-top: 12rem;

  @include respond(phone) {
    margin: 0;
  }

  &_container {
    width: 60vw;
    padding: 3.2rem;
    border-radius: 4px;
    border: 1px solid $color-border;
    background-color: $color-white;

    @include respond(phone) {
      width: auto;
      height: 86vh;
    }

    &-btn {
      display: flex;
      justify-content: center;
      gap: 3.5rem;
      margin: 2.5rem 0;

      @include respond(phone) {
        flex-direction: column;
      }
    }
  }
}
